.header_pagina_principal {
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    background-color: var(--color-bg);
    color: var(--color-texto);
    padding: 1rem;
}

.header_pagina_principal .contenedor_derecha {
    display: flex;
    gap: 0.5rem;
}

.header_pagina_principal .cuenta_seleccionada {
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: var(--color-boton-2);
    color: var(--color-texto);
}

.seleccionar_cuenta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.main_pagina_principal {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contenedor-resumen-important {
    width: 100%;
    max-width: 643px !important;
}

.contenedor_default {
    background-color: var(--color-boton-2);
    border-radius: 30px;
    padding: 1rem 1.2rem;
    margin: 0 0 1rem 0;
    width: 100%;
}

.header_contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 430px) {
    .transaccion {
        display: none;
    }

    .botones_transacciones .boton {
        width: fit-content;
    }

    .botones_transacciones .texto_boton {
        display: none;
    }

    .botones_transacciones .boton .icono {
        font-size: 1.5rem;
        margin: 0;
    }

    .transaccion_responsive {
        display: block;

    }
}

@media (max-width: 489px) {
    .cuentas .boton {
        flex-direction: column;
    }

    .clasificacion .boton {
        flex-direction: column;
    }
}


@media (min-width: 700px) {

    .contenedor-resumen {
        display: flex !important;
        flex-direction: column;
    }

}

@media (max-width: 775px) {
    .header_pagina_principal {
        grid-template-columns: 1fr 1fr;
    }

    .seleccionar_cuenta {
        justify-content: flex-end;
    }

    .header_pagina_principal .boton p {
        display: none;
    }

    .header_pagina_principal .boton img {
        margin: 0;
    }
}